@model CoursesAddViewModel

<div class="row">
    <div class="col col-lg-4 mx-auto">
        <h2>@ViewBag.PageTitle</h2>
        <form asp-area="Admin" asp-controller="Courses" asp-action="Add" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @* dropdown with teachers *@
            <div class="form-group">
                <label asp-for="TeacherId"></label>
                <select asp-for="TeacherId" asp-items="@Model.Teachers" class="form-select"></select>
                </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <a asp-area="Admin" asp-controller="Courses" asp-action="Index"
           class="btn btn-info mt-2 mb-2">Back</a>
    </div>
</div>

