@model CoursesIndexViewModel

<div class="row">
    <div class="col col-lg-6 mx-auto">
        <table class="table table-responsive table-hover">
            <tr>
                <th>Course</th>
                <th>Teacher</th>
                <th>Price</th>
            </tr>
            @foreach(var course in Model.Courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Teacher.Name</td>
                    <td>@course.Price &euro;</td>
                </tr>
            }
        </table>
    </div>
</div>

