@model CoursesIndexViewModel

<div class="row">
    <div class="col col-lg-6 mx-auto">
        <table class="table table-responsive table-hover">
            <tr>
                <th>Course</th>
                <th>Teacher</th>
                <th colspan="2">Price</th>
            </tr>
            @foreach(var course in Model.Courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Teacher.Name</td>
                    <td>@course.Price &euro;</td>
                    <td><a asp-controller="Cart" asp-action="Add"
                           asp-route-id="@course.Id"
                           class="btn btn-outline-secondary">
                        Buy</a></td>
                </tr>
            }
        </table>
    </div>
</div>

