
<div class="row text-center">
    <h2>@ViewBag.PageTitle</h2>
    <div class="col">
        <a asp-area="Admin" asp-controller="Students"
           asp-action="Index" class="btn btn-outline-info">Students</a>
    </div>
    <div class="col">
        <a asp-area="Admin" asp-controller="Teachers"
           asp-action="Index" class="btn btn-outline-info">Teachers</a>
    </div>
    <div class="col">
        <a asp-area="Admin" asp-controller="Courses"
           asp-action="Index" class="btn btn-outline-info">Courses</a>
    </div>
</div>
