@model StudentsIndexViewModel

<div class="row">
    <div class="col col-lg-4 mx-auto">
        <h2>Our Students</h2>
        <a asp-area="Admin" asp-controller="Students" asp-action="Add"
           class="btn btn-outline-info">New student</a>
        @* check for tempData message *@
        @if(TempData.ContainsKey("Message"))
        { 
            <div class="alert alert-success" role="alert">
              @TempData["Message"] 
            </div>
        }
        <table class="table table-hover table-responsive-lg">
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Students"
                           asp-action="Update"
                           asp-route-id="@student.Id" class="btn btn-outline-info">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Students"
                           asp-action="ConfirmDelete"
                           asp-route-id="@student.Id" class="btn btn-outline-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
        
    </div>
</div>
